*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Archivo Black', sans-serif;
    background-color: floralwhite;
}

/* ---------------------------------------------*/
/* HEADER */
/* ---------------------------------------------*/

#header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 9vw;
    min-height: 9vw;
    padding: 0px 50px 0px 30px;
    display: flex;
    justify-content: space-between;
    background-color: floralwhite;
}


#header-img {
    height: 10vw;
    margin-top: 1vw;
}

.header-hack {
    height: 9vw;
}

/* ------- NAV BAR ------- */

#nav-bar-list {
    width: 50vw;
    height: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.nav-link:hover {
    color: rgb(255, 118, 0);
}

/* ---------------------------------------------*/
/* BENEFITS */
/* ---------------------------------------------*/

#benefits {
    background: url(https://images.unsplash.com/photo-1495298975657-492a1d068595?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 9vw 0;
}

h2 {
    text-transform: uppercase;
    color: floralwhite;
    font-size: 500%;
    margin-left: 10vw;
}

p {
    font-size: 200%;
    color: floralwhite;
    margin-left: 10vw;
    width: 50vw;
    line-height: 40px;
    margin-top: 20px;
}

.benefits-btn {
    text-decoration: none;
    background-color: #ffc400;
    color: floralwhite;
    border-radius: 20px;
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
    width: 320px;
    text-align: center;
    margin-left: 10vw;
    margin-top: 100px;
}

/* ---------------------------------------------*/
/* PRODUCTS */
/* ---------------------------------------------*/

#products {
    padding: 9vw 0;
    background-color: rgb(255, 118, 0);
}

#products-title {
    color: floralwhite;
}

.products-text {
    color: floralwhite;
    width: 60vw;
}

.products-btn {
    text-decoration: none;
    background-color: #ffc400;
    color: floralwhite;
    border-radius: 20px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 40px;
    width: 180px;
    text-align: center;
    margin-left: 10vw;
    margin-top: 15px;
    margin-bottom: 50px;
}

form {
    margin-left: 10vw;
}

input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 10px;
}

input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 38px;
    margin: 15px 0;
    border: 0;
    border-radius: 20px;
    background-color: #ffc400;
    color: floralwhite;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 100%;
    font-family: 'Archivo Black', sans-serif;
    margin-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ---------------------------------------------*/
/* ABOUT HONEY */
/* ---------------------------------------------*/

#about-honey {
   padding: 9vw 0;
}

#about-title {
    color: rgb(255, 118, 0);
}

iframe {
    margin-left: 10vw;
    margin-top: 20px;
}


/* ---------------------------------------------*/
/* MEDIA QUERIES */
/* ---------------------------------------------*/

@media only screen and (max-width: 900px) {
    #nav-bar-list {
        width: 70vw;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        position: static;
        height: inherit;
        width: 100vw;
        padding: 0px 50px 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: floralwhite;
    }
    
    #nav-bar-list {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #header-img {
        height: inherit;
        width: 50vw;
    }
}
    
