
.divided-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3vw;
    height: 24.95vw;
}

.divided-img {
    height: 100%;
    width: auto;
    object-fit: cover;
}